body {
    background-image: url("https://abeon-hosting.com/images/newspaper-background-cliparts-16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 70px;
}

.deleteNote {
	display: inline-block;
}

.previousNotes {
    display: inline-block;
    width: 90%
}

#scrape {
    margin: 8px 0px;
}

.jumbotron {
    background-color: rgb(173, 186, 189);
    font-family: Georgia, 'Times New Roman', Times, serif;
}